{% macro auth_form(bundle, name, message) %}
    <div id="{{ bundle }}" class="tabcontent">
        <div class="form">
            <p class="error" style="margin-bottom: 15px ">{{ message }}</p>
            <p class="title-form">{{ name }} authentication</p>

            <form class="login-form" method="post">
                {% if bundle != 'internal' %}
                    <input type="hidden" name="provider" value="{{ bundle }}"/>
                {% endif %}
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>

                <div class="button-bar  submit-bar">
                    <button type="submit" name="confirm" value="true" class="btn-large submit-btn">Confirm</button>
                    <button style="overflow: visible !important; height: 0 !important; width: 0 !important; margin: 0 !important; border: 0 !important; padding: 0 !important; display: block !important;"
                            name="confirm" type="submit" value="true"/>
                    <!-- Default submit value when pressend enter -->
                </div>
                <div class="button-bar">


                    <button type="submit" name="cancel" value="true" class="btn-large cancel-btn">Cancel</button>
                </div>
                <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
            </form>
        </div>
    </div>
{%- endmacro %}
